.alert {
  position: fixed;
  top: -9vh;
  left: 50%;
  transform: translateX(-50%);
  padding: 9px 20px;
  color: white;
  border-radius: 6px;
  font-size: 14px;
  min-width: 308px;
  text-align: center;
}
